<div class="container" ng-controller="MyInfoController as myInfoCtrl">
    <div ng-if="!myInfoCtrl.user">
      Not Signed Up Yet.
        <a ui-sref="public.signup">
          <span class="glyphicon glyphicon-certificate">Sign up Now! </span><br class="hidden-xs"> </a>
    </div>
    <div id="info" ng-if="myInfoCtrl.user">
        Your registered information
        <br>
        Username:
        {{ myInfoCtrl.user.firstname}} {{ myInfoCtrl.user.lastname}}
        <br>
        Email:
        {{ myInfoCtrl.user.email}}
        <br>
        Phone:
        {{ myInfoCtrl.user.phone }}
        <br>
        Favorit dish
        {{ myInfoCtrl.user.short_name}}
        <br>
        <menu-item menu-item="myInfoCtrl.item">
        </menu-item>
    </div>
</div>
